In [4]:
import pandas as pd

In [5]:
df = pd.read_table("C:/Users/HP/Desktop/Miniprojet/BF.txt",sep = '\t',header = None)
print(df.shape)

(11297, 19)

In [6]:
print(df.head())

        0          1          2    3         4        5  6    7   8    9   10  \
0  2353158   Zyonguen   Zyonguen  NaN  12.36667 -0.45000  P  PPL  BF  NaN  04
1  2353159  Zyiliwèlè  Zyiliwele  NaN  12.38333 -2.73333  P  PPL  BF  NaN  06
2  2353160     Zyanko     Zyanko  NaN  12.78333 -0.41667  P  PPL  BF  NaN  05
3  2353161      Zouta      Zouta  NaN  13.14908 -1.28197  P  PPL  BF  NaN  05
4  2353162  Zourtenga  Zourtenga  NaN  12.95741 -1.28745  P  PPL  BF  NaN  05

     11  12  13  14  15   16                  17          18
0   NaN NaN NaN   0 NaN  293  Africa/Ouagadougou  2012-06-05
1   NaN NaN NaN   0 NaN  277  Africa/Ouagadougou  2012-06-05
2   NaN NaN NaN   0 NaN  301  Africa/Ouagadougou  2012-06-05
3  70.0 NaN NaN   0 NaN  306  Africa/Ouagadougou  2010-07-31
4   NaN NaN NaN   0 NaN  290  Africa/Ouagadougou  2018-09-05

In [7]:
print(df.columns)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], dtype='int64')

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11296 entries, 0 to 11295
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   2353158             11296 non-null  int64
 1   Zyonguen            11296 non-null  object
 2   Zyonguen.1          11296 non-null  object
 3   Unnamed: 3          2975 non-null   object
 4   12.36667            11296 non-null  float64
 5   -0.45               11296 non-null  float64
 6   P                   11296 non-null  object
 7   PPL                 11296 non-null  object
 8   BF                  11296 non-null  object
 9   Unnamed: 9          51 non-null     object
 10  04                  11291 non-null  object
 11  Unnamed: 11         5288 non-null   float64
 12  Unnamed: 12         55 non-null     float64
 13  Unnamed: 13         0 non-null      float64
 14  0                   11296 non-null  int64
 15  Unnamed: 15         72 non-null     float64
 16  293                 11296 non-null  int64
 17  Africa/Ouagadougou  11296 non-null  object
 18  2012-06-05          11296 non-null  object
dtypes: float64(6), int64(3), object(10)
memory usage: 1.6+ MB
None

In [ ]:
df.columns=["a", "b", "c", "d"]
print(df)

In [7]:
print(df.iloc[0:5,0:6])

   2353158   Zyonguen Zyonguen.1 Unnamed: 3  12.36667    -0.45
0  2353159  Zyiliwèlè  Zyiliwele        NaN  12.38333 -2.73333
1  2353160     Zyanko     Zyanko        NaN  12.78333 -0.41667
2  2353161      Zouta      Zouta        NaN  13.14908 -1.28197
3  2353162  Zourtenga  Zourtenga        NaN  12.95741 -1.28745
4  2353163     Zourma     Zourma     Zourma  11.39083 -0.79556

In [17]:
# 3. Appliquons les opérations de prétraitement et filtres nécessaires à ce fichier, pour ne
#garder que les colonnes correspondantes :
   # ◦ Identifiants, Noms de lieux, latitudes, longitudes
   # ◦ Renommez les avec les noms suivants : 'ID', 'location_name', 'lat', 'long'
   # ◦ Sauvegarder ces données dans un fichier CSV, nommez-le burkina_location.csv
    
burkina_location = df.iloc[:,[0,1,4,5]] # Selection des éléments suivants: Identifiants, Noms de lieux, latitudes, longitudes
burkina_location.columns=["ID", "location_name", "lat", "long"] # Renommons les colonnes
burkina_location.to_csv("C:/Users/HP/Desktop/Miniprojet/burkina_location.csv", index = False)# enregistrement de la selection

In [71]:
# 4. Opérations sur le fichier CSV burkina_location.csv.

bf_location_csv = pd.read_csv("C:/Users/HP/Desktop/Miniprojet/burkina_location.csv") # Ouverture de burkina_location

gounghin = bf_location_csv[bf_location_csv['location_name'] == 'Gounghin'] # Extraction des données contenant le nom 'gounghin'

gounghin.to_csv("C:/Users/HP/Desktop/Miniprojet/gounghin.csv", index = False) # enregistrement de la selection des données contenant le nom gounhin

import string

first_letter_name_A_P = bf_location_csv[bf_location_csv['location_name'].str[0].isin(list(string.ascii_uppercase)[0:16])] # Extraction de la sous-partie de la base de données dont les 1ères lettre sont compris entre 'A' et 'P'
first_letter_name_A_P.sort_values(by=['location_name'], ascending = True) # Tri par ordre alphabétique

lat_min = bf_location_csv[bf_location_csv['lat'] == bf_location_csv['lat'].min()] # minimum latitude

long_min = bf_location_csv[bf_location_csv['long'] == bf_location_csv['long'].min()] # minimum longitude

specific_coordonne = bf_location_csv[(bf_location_csv['lat']>= 11)& (bf_location_csv['long']<= 0.5)] # Lieux avec coordonnées spécifiques

In [70]:
# 5. Sorties Excel

from pandas import ExcelWriter
import xlsxwriter


mini_projet = pd.ExcelWriter("C:/Users/HP/Desktop/Miniprojet/mini_projet.xlsx")
gounghin.to_excel(mini_projet, sheet_name = "gounghin")
first_letter_name_A_P.to_excel(mini_projet, sheet_name = "A_to_P")
mini_projet.save()